Excercise JIRA/src/main/resources/xsd/release.with.url.xsd

<!DOCTYPE xs:schema [
        <!ELEMENT xs:schema (xs:element)*>
        <!ATTLIST xs:schema
                attributeFormDefault CDATA #REQUIRED
                elementFormDefault CDATA #REQUIRED
                xmlns:xs CDATA #REQUIRED>
        <!ELEMENT xs:element (xs:complexType)*>
        <!ATTLIST xs:element
                maxOccurs CDATA #IMPLIED
                minOccurs CDATA #IMPLIED
                name CDATA #REQUIRED
                type CDATA #IMPLIED>
        <!ELEMENT xs:complexType (xs:sequence|xs:simpleContent|xs:attribute)*>
        <!ATTLIST xs:complexType
                mixed CDATA #IMPLIED>
        <!ELEMENT xs:sequence (xs:element)*>
        <!ELEMENT xs:simpleContent (xs:extension)*>
        <!ELEMENT xs:extension (xs:attribute)*>
        <!ATTLIST xs:extension
                base CDATA #REQUIRED>
        <!ELEMENT xs:attribute (#PCDATA)>
        <!ATTLIST xs:attribute
                name CDATA #REQUIRED
                type CDATA #REQUIRED
                use CDATA #IMPLIED>
        ]>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rss">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="channel">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="link"/>
                                        <xs:element name="project">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:short" name="id"/>
                                                        <xs:attribute type="xs:string" name="key"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="key"/>
                                        <xs:element type="xs:string" name="summary"/>
                                        <xs:element type="xs:string" name="type"/>
                                        <xs:element type="xs:string" name="parent"/>
                                        <xs:element type="xs:string" name="priority" />
                                        <xs:element type="xs:string" name="status"/>
                                        <xs:element type="xs:string" name="resolution"/>
                                        <xs:element type="xs:string" name="security"/>
                                        <xs:element type="xs:string" name="assignee"/>
                                        <xs:element type="xs:string" name="reporter"/>
                                        <xs:element type="xs:string" name="created"/>
                                        <xs:element type="xs:string" name="updated"/>
                                        <xs:element type="xs:string" name="resolved"/>
                                        <xs:element type="xs:string" name="fixVersion"/>
                                        <xs:element type="xs:string" name="votes"/>
                                        <xs:element type="xs:string" name="watches"/>
                                        <xs:element type="xs:string" name="component" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="subtasks">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="subtask" minOccurs="0" maxOccurs="unbounded">
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="customfields">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="customfield" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="customfieldname"/>
                                                                <xs:element name="customfieldvalues">
                                                                    <xs:complexType mixed="true">
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="customfieldvalue" minOccurs="0">
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="id" use="optional"/>
                                                            <xs:attribute type="xs:string" name="key" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:float" name="version"/>
        </xs:complexType>
    </xs:element>
</xs:schema>